# Data Summarization

- **Functions**, **arguments**, and **attributes** via `pd.read_csv()`<br><br>
    - `inplace="ISO-8859-1"` encoding the amazon data set (a subtle introduction of "data" and "object" types)
    - `.shape` and `.columns` (and in the next section `df["new_columns"] = ...`)<br><br>

- **Methods**, **chaining**, and **coercion** as in `df.isnull().sum(axis=1)`<br><br>
    - "data" types (as opposed to "Object" types which will be discussed formally next week)
    - **numeric** `float64` and `int64`, **categorical** `category`, and **object**
    - `.dtypes` and `.astype()`<br><br>
    
- **Summarizing data** with `df.describe()` and **statistics** (as opposed to **Statistics**)<br><br>

    - $\bar x$ the **sample mean** `df['col'].mean()` 

      $\displaystyle \bar x = \frac{1}{n}\sum_{i=1}^n x_i$<br><br> 

    - $s^2$ the **sample variance (var)** `df['col'].var()` and $s$ the **sample standard deviation (std)**  `df['col'].std()`
      
      $\displaystyle s^2 = \frac{1}{n-1}\sum_{i=1}^n (x_i-\bar x)^2 \quad \text{ and } \quad s = \sqrt{s^2}$<br><br>  
      
    - **min** `df['col'].min()`, **max** `df['col'].max()` (and $Q1$, the **median**, and $Q3$ to be discussed later)<br><br>
    
- **Summarizing data** with `df['categorical_column'].value_counts()` and (one more **statistic**) the **mode**<br><br>

- **Sorting**, **indexing**, and **subsetting**<br><br>

    - `.sort_values()`
    - `df[]` 0-based (row) and (column) name indexing (and "index" versus "row")<br>versus fully 0-based indexing with `df.iloc[]` and "slicing" with `:`
    - versus `df[]` or `df.loc[]` **boolean selection** with **logical conditionals**<br> 
      `>=` / `>` / `<=` / `<` /  and `==` (and `!=` in contrast to `=`) and `~` / `&` / `|` (not/and/or)

## **Functions**, **arguments**, and **attributes**

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/pointOfive/STA130_F23/main/Data/amazonbooks.csv"
# fail https://github.com/pointOfive/STA130_F23/blob/main/Data/amazonbooks.csv

# 1. demonstrate local file
# 2. demo some ChatGPT

# a *function* with required and default *arguments*
# ab = pd.read_csv(url, encoding='UTF-8') # fails
# ab = pd.read_csv(url) # fails, because it defaults to UTF-8
ab = pd.read_csv(url, encoding="ISO-8859-1")# works!
ab

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

In [5]:
# *attribute* (not a *method*)
ab.shape

(325, 13)

In [6]:
# *attribute* (not a *method*)
ab.columns

Index(['Title', 'Author', 'List Price', 'Amazon Price', 'Hard_or_Paper',
       'NumPages', 'Publisher', 'Pub year', 'ISBN-10', 'Height', 'Width',
       'Thick', 'Weight_oz'],
      dtype='object')

In [10]:
ab["Num of empty"] = ab.isna()

In [12]:
ab.dtypes

Title             object
Author            object
List Price       float64
Amazon Price     float64
Hard_or_Paper     object
NumPages         float64
Publisher         object
Pub year         float64
ISBN-10           object
Height           float64
Width            float64
Thick            float64
Weight_oz        float64
Num of empty       int64
dtype: object

In [16]:
ab_nonan = ab.dropna().copy()
ab_nonan['NumPages'] = ab_nonan['NumPages'].astype('int64')

In [17]:
ab_nonan

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,Num of empty
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2,0
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2,0
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0,0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8,0
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0,0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0,0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4,0
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4,0
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0,0

## Chaining and coercion and<br>"data" types (as opposed to "Object" types to be discussed later)

In [ ]:
# *methods* (with no *arguments)
ab.isnull().sum()  # missing per column
ab.isa().sum()  # missing per column

In [ ]:
# *methods* (the latter with an optional *argument*)
ab.isna().sum(axis=1)  # missing per row

In [ ]:
ab['# missing on row'] = ab.isna().sum(axis=1)
ab

In [ ]:
ab_isna = ab.isna()
print(ab_isna.dtypes)
ab_isna.head()  # now they're all boolean

In [ ]:
# Why then are these numbers?
print(ab.isna().sum(), end='\n\n')
ab.isna().sum(axis=1)

In [ ]:
# This is due to something called *coercion* 
# which implicitly changes the data types in an appropriate manner

# But we can explicitly change the types of data ourselves...

print(ab.dtypes)  # originally they were all... "float" and "object" ?
ab.head()  # and `ab['# missing on row'] = ab.isna().sum(axis=1)` become an "int" ?

In [ ]:
ab_dropna = ab.dropna()
new_data_types = {'Hard_or_Paper': "category", 
                  'NumPages': int,
                  'Pub year': int}
# rather than doing them separately like 
#ab_dropna_v2['Hard_or_Paper'] = ab_dropna_v2['Hard_or_Paper'].astype("object")

# Demo some ChatGPT?

ab = ab.astype(new_data_types)
#ab_dropna = ab_dropna.astype(new_data_types)
#pd.DataFrame({"Orignal": ab.dtypes, "Adjusted": ab_dropna.dtypes})

In [ ]:
new_column_names = {k:k+" ("+v+")" for k,v in zip(ab.columns,ab_dropna.dtypes.values.astype(str))}
new_column_names

In [ ]:
# Use inplace=True rather than ab_dropna = ab_dropna.rename(columns=new_column_names)
ab_dropna.rename(columns=new_column_names, inplace=True)  # if you like
ab_dropna.head()  # "objects" are still not really "categories"

## Summarizing data with `df.describe()` and *statistics* (as opposed to *Statistics*)

The sample mean, sample variance, and sample standard devation are examples of **statistics** which are important in the discipline of **Statistics**
$$\huge \displaystyle \bar x = \frac{1}{n}\sum_{i=1}^n x_i \quad\quad\quad \displaystyle s^2 = \frac{1}{n-1}\sum_{i=1}^n (x_i-\bar x)^2 \quad\quad\quad s=\sqrt{s^2}$$

In [19]:
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
# fail https://github.com/KeithGalli/pandas/blob/master/pokemon_data.csv
pokeaman = pd.read_csv(url)
colnames_wtype = {k:k+" ("+v+")" for k,v in zip(pokeaman.columns,pokeaman.dtypes.values.astype(str))}
pokeaman.rename(columns=colnames_wtype, inplace=True)
pokeaman

,# (int64),Name (object),Type 1 (object),Type 2 (object),HP (int64),Attack (int64),Defense (int64),Sp. Atk (int64),Sp. Def (int64),Speed (int64),Generation (int64),Legendary (bool)
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [21]:
# Why does this not have all the columns?
# Because only has numerical columns, not string/other values
pokeaman.describe()  # more coercion... if you see it?

,# (int64),HP (int64),Attack (int64),Defense (int64),Sp. Atk (int64),Sp. Def (int64),Speed (int64),Generation (int64)
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Because these are summaries for **numieric** data types...

- $\bar x$ the **sample mean** `df['col'].mean()` 

  $\displaystyle \bar x = \frac{1}{n}\sum_{i=1}^n x_i$ 

- $s$ the **sample standard deviation (std)** `df['col'].std()`

  $\displaystyle s = \sqrt{s^2}$

  > $s^2$ the **sample variance (var)** `df['col'].var()`
  >  
  > $\displaystyle s^2 = \frac{1}{n-1}\sum_{i=1}^n (x_i-\bar x)^2$      
        
- and where **min** `df['col'].min()` and **max** `df['col'].max()` are (hopefully) obvious
- and **25%, 50%, and 75%** are the first, second, and third **quantiles** referred to as $Q1$, $Q2$ = the **median**, and $Q3$ (but these will not be discussed later)

## **Summarizing data** with<br><br>`df['categorical_column'].value_counts()`

In [22]:
# Another "explanation" as to why `.describe()` doesn't have all the columns is "because"
# ...obviously this is not an explanation... it's just an example of why 
# `.value_counts()` is what we should use for categorical data
pokeaman['Type 1 (object)'].value_counts()
# where the most frequently occuring value is called the *mode*

Type 1 (object)
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [23]:
# And where the `dropna=False` *argument* can be added to include a count of missing values
pokeaman['Type 2 (object)'].value_counts(dropna=False)  # 'Type 1 (object)' doesn't have NaNs

Type 2 (object)
NaN         386
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Ice          14
Rock         14
Water        14
Ghost        14
Fire         12
Electric      6
Normal        4
Bug           3
Name: count, dtype: int64

In [26]:
pokeaman[['Type 1 (object)', 'Type 2 (object)']].value_counts()

Type 1 (object)  Type 2 (object)
Normal           Flying             24
Grass            Poison             15
Bug              Flying             14
                 Poison             12
Ghost            Grass              10
                                    ..
Fire             Rock                1
Ice              Ghost               1
Fire             Dragon              1
Fighting         Flying              1
Water            Steel               1
Name: count, Length: 136, dtype: int64

Where column is empty, it means same as column above

## Sorting, indexing, and subsetting<br>OR

### `.sort_values()`<br><br>`df[]` 0-based (row) and (column) name indexing (and "index" versus "row")<br><br>$\quad$versus fully 0-based indexing with `df.iloc[]` and "slicing" with `:`<br><br>$\quad\quad$versus `df[]` or `df.loc[]` **boolean selection** with **logical conditionals**<br><sub>$\quad\quad\;\;$ `>=` / `>` / `<=` / `<` /  and `==` (and `!=` in contrast to `=`) and `~` / `&` / `|` (not/and/or)</sub>

In [28]:
colnames_wotype = {col: col.split(" (")[0] for col in pokeaman.columns.astype(str)}
pokeaman.rename(columns=colnames_wotype, inplace=True)

In [29]:
# sorting
pokeaman.sort_values("Attack", ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [30]:
# indexing V1: 0-based (row) and (column) name indexing 
# [row_sequence_subset] or [column_name_list] or [row_sequence_subset][column_name_list]
# pokeaman[:10]
# or try 
# pokeaman[['Name','Type 1']] # but note that `pokeaman['Name','Type 1']` won't work(!)
pokeaman[:10][['Name','Type 1']]

                        Name Type 1
0                  Bulbasaur  Grass
1                    Ivysaur  Grass
2                   Venusaur  Grass
3      VenusaurMega Venusaur  Grass
4                 Charmander   Fire
5                 Charmeleon   Fire
6                  Charizard   Fire
7  CharizardMega Charizard X   Fire
8  CharizardMega Charizard Y   Fire
9                   Squirtle  Water

In [31]:
# (and "index" versus "row")
pokeaman.dropna()[:10][['Name','Type 1']]

                         Name Type 1
0                   Bulbasaur  Grass
1                     Ivysaur  Grass
2                    Venusaur  Grass
3       VenusaurMega Venusaur  Grass
6                   Charizard   Fire
7   CharizardMega Charizard X   Fire
8   CharizardMega Charizard Y   Fire
15                 Butterfree    Bug
16                     Weedle    Bug
17                     Kakuna    Bug

In [34]:
# indexing V2: fully 0-based indexing with df.iloc[] and "slicing" with `:`
# [ rows , cols ] specifically [ rowStart : rowEndPlus1 , colstart : rowEndPlus1 ]

pokeaman.iloc[ :10 , : ]  # pokeaman[:10]
pokeaman.iloc[ 0:10 , : ]  # pokeaman[0:10]
pokeaman.iloc[ 10:20 , 1:3 ]  # pokeaman[10:20][['Name','Type 1']]

                       Name Type 1
10                Wartortle  Water
11                Blastoise  Water
12  BlastoiseMega Blastoise  Water
13                 Caterpie    Bug
14                  Metapod    Bug
15               Butterfree    Bug
16                   Weedle    Bug
17                   Kakuna    Bug
18                 Beedrill    Bug
19    BeedrillMega Beedrill    Bug

In [ ]:
# (and "index" versus "row")
pokeaman.dropna().iloc[ :10 , 1:3 ]

In [ ]:
# (and "index" versus "row")
pokeaman.sort_values(["Attack","Defense"], ascending=[False,True]).iloc[ :10, : ]

In [ ]:
# indexing V3: *boolean selection* with *logical conditionals*
# indexing V3: df[] or df.loc[ logical_conditional , colname_list ] 
#                   or df.loc[ row_based_indexing , colname_list ] 

pokeaman.Legendary
pokeaman[pokeaman.Legendary]

In [10]:
# (and "index" versus "row")
pokeaman.dropna().loc[ :10 , ['Name','Type 1'] ]  # or just rows

                        Name Type 1
0                  Bulbasaur  Grass
1                    Ivysaur  Grass
2                   Venusaur  Grass
3      VenusaurMega Venusaur  Grass
6                  Charizard   Fire
7  CharizardMega Charizard X   Fire
8  CharizardMega Charizard Y   Fire

In [ ]:
~pokeaman.Legendary
pokeaman[~pokeaman.Legendary]

In [ ]:
(pokeaman["HP"] > 80)  # what would `~(pokeaman["HP"] > 80)` be?
pokeaman[ pokeaman["HP"] > 80 ]

In [ ]:
# (pokeaman["HP"] > 80) & (pokeaman["Type 2"] == "Fighting")
pokeaman[ (pokeaman["HP"] > 80) & (pokeaman["Type 2"] == "Fighting") ]

In [ ]:
# something like `pokeaman.Type 2` wouldn't work... why?
pokeaman.loc[~(pokeaman.HP > 120) | (pokeaman.Defense > 180)]
# pokeaman.query("HP > 120 and Legendary == True")

> There's probably not time, but if there is... we could review/demo the pokemon data set a little bit more, with more complex *chaining* like `df.dropna().groupby('col1').describe()`?

In [ ]:
pokemon.describe()

In [ ]:
pokemon[["Type 1","Type 2"]].value_counts()

In [ ]:
pokemon.groupby('Type 1').describe()

In [ ]:
pokemon.groupby('Type 1').describe().columns

In [ ]:
pokemon.groupby('Type 1').describe().sort_values(('HP','mean'), ascending=False)

In [ ]:
pokemon.groupby('Type 1').mean(numeric_only=True).round(3)